<!DOCTYPE html>
<html>
<head>
    <title>Forecasting Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="main">
        <h1 style="color: green;">WELCOME TO FORECASTING PAGE</h1>
        
        <br>
        <form action="">
            <label for="first">Date:</label>
            <input type="text" id="first" name="Date" placeholder="Enter  Date" required>
            <br>
            <br>
            <label for="gdp yoy">gdp yoy:</label>
            <input type="gdp yoy" id="gdp yoy" name="gdp yoy" placeholder="Enter gdp" required>
            <br>
            <br>
            <div class="wrap">
                <button type="submit">Submit</button>
            </div>
        </form>
         
</body>
</html>